* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #008080;

}

.body_nav {}

.icons {
    width: 160px;
}

.icons_img {
    width: 50px;
    margin: 50px 50px 3px 50px;
}

.trash_ico_text {
    margin-left: 55px;
    color: white;
    width: 60px;
}

.comp_ico_text {
    margin-left: 25px;
    color: white;
}

#mercelory,
#mercelory_notepad,
#start,
#jsdos {
    display: none;
}

.icons_webs:active {
    color: #808080;
}

.start:active {
    background-color: #FFFFFF;
}

.main_border {
    position: relative;
    border: 6px solid #BFBFBF;
    margin: auto;
    background: #e9dca2;
    width: 1300px;
    height: 500px;
    right: -150px;
    transform: translateY(-50px);
    overflow-y: scroll
}

.secondary_border {
    border: 2px solid black;
    width: 1288px;
    flex-wrap: wrap;
}

.doc_name {
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navigation {
    background: #BFBFBF;
}

.nav_items {
    margin-right: 15px;
    margin-left: 15px;
}

.border_icons {
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    width: 18px;
    padding: 3px;
    margin-top: 3px;
    margin-right: 3px;
}

.border_close {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}

.banner {
    width:100%;
    height: 200px;
    object-fit: cover;
}

.pfp {
    position: relative;
    transform: translateY(-80px);
    
}

.about {
    width: 1000px;
    margin: auto;
}

.about_text {
    font-weight: 700;
    border-bottom: 2px solid #808080;
}

.about_container {
    display: flex;
    justify-content: space-between;
}

.about_box {
    width: 550px;
    margin: 15px;
    padding: 5px;
}

.skills_box {
    width: 1000px;
    margin: auto;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills_text {
    font-weight: 700;
    border-bottom: 2px solid #808080;
}

.skills_container {}

.skills_icon {
    margin: auto;
}

.html {
    margin: 15px;
    text-align: center;
}

.css {
    margin: 15px;
    text-align: center;
}

.js {
    margin: 15px;
    text-align: center;
}

.cpp {
    margin: 15px;
    text-align: center;
}

.skills h2 {
    text-align: center;
    font-size: 10px;
}

.socials_text{
    font-weight: 700;
    border-bottom: 2px solid #808080;
}

.socials{
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}

.socials_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lower_bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #BFBFBF;
    width: 100%;
    height: 40px;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    display: flex;
}

.start {
    display: flex;
    width: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    margin-left: 3px;
}

.windows_logo {
    width: 30px;
    margin-right: 4px;
}

.notepad {
    background: #f4f4f4;
    display: flex;
    margin-left: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    padding: 3px;
}

.notepad_logo {
    margin-right: 5px;
    width: 25px;
}

.start {
    display: flex;
}

.start_open {
    position: absolute;
    width: 300px;
    background: #BFBFBF;
    height: 500px;
    bottom: 41px;
    left: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
}

.horn {
    margin: auto;
}


@media screen and (max-width: 1632px) {
    .main_border {
        max-width: 1000px;
    }

    .secondary_border {
        border: 2px solid black;
        max-width: 989px;
    }

    .socials{
        max-width: 989px;
    }

    .pfp{
        transform: translateX(400px);
        top: 150px;
        position: absolute;
    }

    .skills_box{
        max-width: 989px;
    }
    .banner{
        width: 989px;;
        position: relative;
    }
    .about{
        max-width: 989px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 1304px) {
    .main_border {
        max-width: 800px;
    }

    .secondary_border {
        border: 2px solid black;
        max-width: 789px;
    }

    .socials{
        max-width: 789px;
    }

    .pfp{
        transform: translateX(340px);
        top: 150px;
        position: absolute;
    }

    .skills_box{
        max-width: 789px;
    }
    .banner{
        width: 789px;;
        position: relative;
    }
    .about{
        max-width: 789px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 1000px) {
    .main_border {
        width: 300px;
    }
    
    .secondary_border {
        border: 2px solid black;
        max-width: 289px;
    }

    .socials{
        max-width: 289px;
    }

    .pfp{
        transform: translateX(70px);
        top: 200px;
    }

    .skills_box{
        max-width: 289px;
    }
    .banner{
        width: 289px;;
        position: relative;
    }
    .about{
        max-width: 289px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 600px) {
    .main_border {
        border: 6px solid #BFBFBF;
        margin: 0px;
        background: #e9dca2;
        top:0;
        right: 0px;
        width: 600px;
    }

    .secondary_border {
        border: 2px solid black;
        max-width: 589px;
    }

    .socials{
        max-width: 589px;
    }

    .pfp{
        transform: translateX(210px);
        top: 150px;
        position: absolute;
    }

    .skills_box{
        max-width: 589px;
    }
    .banner{
        width: 589px;;
        position: relative;
    }
    .about{
        max-width: 589px;
        margin-top: 90px;
    }
}