* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #008080;

}

#mercelory,
#mercelory_notepad,
#start,
#jsdos {
    display: none;
}
.height{
    height: 700px;
}

.borders {
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
}

